<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page title</title>
</head>
<body>
<h1>news <%= newsID %></h1>
<p><b>Title:</b> <%= obj.title %></p>
<p><b>ID:</b> <%= obj.id %></p>
<ul>
    <% obj.paragraphs.forEach(function (item) { %>

    <% })%>
        

</ul>

</body>
</html>